{{ define "main" }}

{{ $cv := .Site.Data.cv }}

<div class="flex centered">
  <div class="content-container">
    <h2 class="cv-heading--emphasis">
      {{ $cv.basics.name }}
    </h2>
    <h4 class="cv-heading--light">
      {{ $cv.basics.label }}
    </h4>
    <p class="cv-text--summary">
      {{ $cv.basics.summary }}
    </p>
    <h3 class="cv-heading--light cv-heading--large">
      Employment
    </h3>
    <ul class="cv-list">
      {{ range $cv.work }}
      <li>
        <h4 class="cv-list-heading--primary">
          {{ .position }}
        </h4>
        <h4 class="cv-list-heading--secondary">
          {{ .name }}
        </h4>
        <h4 class="cv-list-heading--tertiary">
          {{ .startDate }}
          -
          {{ .endDate }}
        </h4>
        <p class="cv-list-description">
          {{ .summary }}
        </p>
        <ul>
          {{ range .list }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
    <h3 class="cv-heading--light cv-heading--large">
      Education
    </h3>
    <ul class="cv-list">
      {{ range $cv.education }}
        <li>
          <h4 class="cv-list-heading--primary">
            {{ .studyType }}, {{ .area }}
          </h4>
          <h4 class="cv-list-heading--secondary">
            {{ .institution }}
          </h4>
          <h4 class="cv-list-heading--tertiary">
            {{ .startDate }}
            -
            {{ .endDate }}
          </h4>
          <p class="cv-list-description">
            {{ .summary }}
          </p>
        </li>
      {{ end }}
    </ul>
    <h3 class="cv-heading--light cv-heading--large">
      Expertise
    </h3>
    <ul class="cv-list">
      {{ range $cv.skills }}
        <li>
          <h4 class="cv-list-heading--primary">
            {{ .name }}
          </h4>
          <p class="cv-list-description">
            {{ .description }}
          </p>
          <ul>
            {{ range .keywords }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
</div>

{{ end }}
