/* Colors */

$color-main: #007694;
$color-main-dark: #005266;
$color-80-black: #333333;
$color-55-black: #737373;
$color-10-black: #e6e6e6;

/* Fonts */

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    src: url('/fonts/FiraSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Term';
  font-display: swap;
  src: url('/fonts/iosevka-custom-regular.woff2') format('woff2');
}

$font-main: 'Fira Sans', sans-serif;
$font-code: 'Iosevka Term', monospace;

/* Mixins */

$mobile-width: 720px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

/* Variables */

$desktop-content-width: 800px;
$mobile-content-width: 80%;

$footer-height: 70px;
