{{ define "main" }}

<div class="flex centered">
  <div class="content-container">
    <ul class="posts">
      {{ range .Data.Pages }}
          <a href={{ .Permalink }}>
            <div class="post-entry">
              {{ if .Draft }}
                <p class="list-title">DRAFT: {{ .Title }}</p>
              {{ else }}
                <p class="list-title">{{ .Title }}</p>
              {{ end }}
              {{ if eq $.Name "notes" }}
                <p class="minutes">{{ .ReadingTime }} minute read</p>
              {{ else if eq $.Name "photos" }}
                <p class="minutes">{{ .Params.Amount }} images</p>
              {{ end }}
            </div>
          </a>
      {{ else }}
        <div class="post-entry">
          <p class="list-title">
            Nothing here yet. Check back later!
          </p>
        </div>
      {{ end }}
    <ul>
  </div>
</div>

{{ end }}
